{% extends 'base.html.twig' %}

{% block body %}

    <h1>TextArea for description product</h1>

    <form action="">

        <textarea name="editor" id="editor" rows="10" cols="80">
            This is my textarea to be replaced with CKEditor.
        </textarea>

    </form>


{% endblock %}

{% block javascripts %}

    <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>

    <script>
        CKEDITOR.replace( 'editor' );
    </script>

{% endblock %}